@import "../../assets/styles/variabels";


.AddForm{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 90%;
  .form{
    display: flex;
    flex-direction: column;
  }
  input{
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 5px 0;
    box-shadow: 0 0 3px 1px rgba(11,27,103,0.5);
    background: $SecondaryColor;
    padding: 12px;
  }
  label{
    margin: 12px 0 5px 0;
    font-weight: bold;
    color: $SilentText;
  }
  .button_row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
  }
}