@import "../../assets/styles/variabels";

.ViewHeader{
  width: 100%;
  direction: rtl;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .ViewHeader__top{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .ViewHeader__Bottom{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }
  .EndHeader{
    width: 100%;
    border-bottom:2px solid $SecondaryColor;
    margin:25px 0;
    background: $SecondaryColor;
  }
}


.InfoHeader{
  border-bottom:2px solid $SecondaryColor;
  display: flex;
  padding: 0 0 18px 0;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
  width: 100%;
  .title{
    font-weight: bold;
  }
}